body{
    background-image: url("https://wallpaperaccess.com/full/1867044.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.food{
    height: 200px;
    width: 100%;
}
/* navbar start*/
.navbar.navbar-dark .nav-item .nav-link { 
    color: #fff!important; 
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #fff!important; 
} 

.navbar-nav li{
    margin-right: 20px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #777;
    background-color: #777;
}

.fixed-top{
    background-color: #000;
}
/* navbar end */