body {
    height: 100%;
    color: #fff;
    font-family: "Croissant One",Arial,sans-serif;
}

.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../home/images/bg-img.jpg);
    height: 100vh;
}

.navbar.navbar-dark .nav-item .nav-link { 
    color: #fff!important; 
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #fff!important; 
} 

.navbar-nav li{
    margin-right: 20px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #777;
    background-color: #777;
}

.fixed-top{
    background-color: #000;
}

.display-4 {
    color: #fff;
}

.display-4 span {
    color: #fff;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #000;
    opacity: 0.9;
    padding: 40px;
    border-radius: 20px;
    width: 80%;
}