.container-fluid {
    display: flex;
    margin: 20%;
    justify-content: center;
    align-items: center;
    border: blue solid;
    padding: 50px;
    width: 80%;
}

form {
    width: 50%;
    padding: 1px;
}