    /* .container {
     margin: auto;
     /* justify-content: center; */
    /* margin-top: 150px; */
    /*  
 align-items: center;
 /* border: rgb(13, 13, 14)solid; */
    /* width: 50%; */
    
    form {
        width: 100%;
        padding: 50px;
        background-color: rgb(13, 12, 14);
        opacity: .7;
        border-radius: 20px;
        text-align: left;
        margin: 40px;
    }
    
    .container-fluid {
        margin: 200px;
    }
    
    .btn {
        background-color: black;
        width: 100%;
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 40%;
        }
    }
    
    @media (max-width: 540px) {
        .container {
            max-width: 60%;
        }
    }
    
    body {
        background: url('https://wallpaperaccess.com/full/1867044.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .navbar.navbar-dark .nav-item .nav-link {
        color: #fff!important;
    }
    
    .navbar.navbar-dark .nav-item .nav-link:hover {
        color: #fff!important;
    }
    
    .navbar-nav li {
        margin-right: 30px;
    }
    
    b {
        float: left !important;
        margin-left: 0px !important;
    }
    
    .navbar-dark .navbar-toggler {
        color: #fff;
        border-color: #777;
        background-color: #777;
    }
    
    .fixed-top {
        background-color: #000;
    }