body{
    background-image: url('https://wallpaperaccess.com/full/1867044.jpg');
    background-size: cover;
    background-position: center;
}
.logo{
    color: #fff;
}

a{
    text-decoration: none;
}

.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    margin-bottom: 50px;
}

.navbar.navbar-dark .nav-item .nav-link { 
    color: #fff!important; 
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #fff!important; 
} 

.navbar-nav li{
    margin-right: 20px;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #777;
    background-color: #777;
}

.fixed-top{
    background-color: #000;
}

.section-1{
    background-color: #fff;
    padding-top: 80px;
    color: #000;
    text-align: center;
    font-weight: 900;
    padding-bottom: 10px;
    
}

form{
    margin-left:400px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top:50px;
    border: 2px;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: left 100px;
    display: block;
    border: none;
    background: #f1f1f1;
    text-align: center;
  } 
  .signupbtn {
    float: left;
    background-color:#fff;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }